
#pitch{
	background-image: url("../images/new3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 400px;
	margin-top: 0px;
	padding: 150px;

}
.navbar{
	position: fixed;


}

#st{
	background-image: url("../images/dr-pepper.jpg");

}
#nd{
	background-image: url("../images/dr-pepper.jpg");

}
#rd{
	background-image: url("../images/dr-pepper.jpg");

}